<div class="container-fluid">
  <div class="row" style="margin-bottom: 20px">
    <div *ngFor="let itemId of loggerIds;" class="col-lg-6">
      <mgr-small-chart [itemId]="itemId"></mgr-small-chart>
    </div>   
    <!-- <mgr-small-chart [itemId]="x"></mgr-small-chart> -->





  <!-- <div class="row" style="margin-bottom: 20px">
      <div class="col-lg-6">
        <mgr-small-chart></mgr-small-chart>
      </div>
      <div class="col-lg-6">
        <mgr-small-chart></mgr-small-chart>
      </div>
    </div>   -->
</div>